// AMIC Technology SPI Flash Chips
// Ported from flashprog/flashchips.c

(
    vendor: "AMIC",
    manufacturer_id: 0x37,
    chips: [
        (
            name: "A25L05PT",
            device_id: 0x2020,
            total_size: KiB(64),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
            ],
        ),
        (
            name: "A25L05PU",
            device_id: 0x2010,
            total_size: KiB(64),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
            ],
        ),
        (
            name: "A25L10PT",
            device_id: 0x2021,
            total_size: KiB(128),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: KiB(128)),
            ],
        ),
        (
            name: "A25L10PU",
            device_id: 0x2011,
            total_size: KiB(128),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: KiB(128)),
            ],
        ),
        (
            name: "A25L20PT",
            device_id: 0x2022,
            total_size: KiB(256),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: KiB(256)),
            ],
        ),
        (
            name: "A25L20PU",
            device_id: 0x2012,
            total_size: KiB(256),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: KiB(256)),
            ],
        ),
        (
            name: "A25L40PT",
            device_id: 0x2013,
            total_size: KiB(512),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: KiB(512)),
            ],
        ),
        (
            name: "A25L40PU",
            device_id: 0x2013,
            total_size: KiB(512),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: KiB(512)),
            ],
        ),
        (
            name: "A25L80P",
            device_id: 0x2014,
            total_size: MiB(1),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(1)),
            ],
        ),
        (
            name: "A25L16PT",
            device_id: 0x2025,
            total_size: MiB(2),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(2)),
            ],
        ),
        (
            name: "A25L16PU",
            device_id: 0x2015,
            total_size: MiB(2),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(2)),
            ],
        ),
        (
            name: "A25L32PT",
            device_id: 0x2026,
            total_size: MiB(4),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(4)),
            ],
        ),
        (
            name: "A25L32PU",
            device_id: 0x2016,
            total_size: MiB(4),
            features: (wrsr_wren: true, erase_4k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(4)),
            ],
        ),
        (
            name: "A25LQ032/A25LQ32A",
            device_id: 0x4016,
            total_size: MiB(4),
            features: (wrsr_wren: true, erase_4k: true, erase_32k: true, erase_64k: true, quad_io: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(4)),
            ],
        ),
        (
            name: "A25LQ16",
            device_id: 0x4015,
            total_size: MiB(2),
            features: (wrsr_wren: true, erase_4k: true, erase_32k: true, erase_64k: true, quad_io: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(2)),
            ],
        ),
        (
            name: "A25LQ64",
            device_id: 0x4017,
            total_size: MiB(8),
            features: (wrsr_wren: true, erase_4k: true, erase_32k: true, erase_64k: true, quad_io: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, size: KiB(4)),
                (opcode: 0x52, size: KiB(32)),
                (opcode: 0xD8, size: KiB(64)),
                (opcode: 0xC7, size: MiB(8)),
            ],
        ),
    ],
)
