// Puya SPI Flash Chips
// Ported from flashprog/flashchips.c

(
    vendor: "Puya",
    manufacturer_id: 0x85,
    chips: [
        (
            name: "P25Q05H",
            device_id: 0x6010,
            total_size: KiB(64),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 16)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 2)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 1)]),
                (opcode: 0x60, regions: [(size: KiB(64), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(64), count: 1)]),
            ],
        ),
        (
            name: "P25Q06H",
            device_id: 0x4010,
            total_size: KiB(64),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 16)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 2)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 1)]),
                (opcode: 0x60, regions: [(size: KiB(64), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(64), count: 1)]),
            ],
        ),
        (
            name: "P25Q10H",
            device_id: 0x6011,
            total_size: KiB(128),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 32)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 4)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 2)]),
                (opcode: 0x60, regions: [(size: KiB(128), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(128), count: 1)]),
            ],
        ),
        (
            name: "P25Q11H",
            device_id: 0x4011,
            total_size: KiB(128),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 32)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 4)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 2)]),
                (opcode: 0x60, regions: [(size: KiB(128), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(128), count: 1)]),
            ],
        ),
        (
            name: "P25Q20H",
            device_id: 0x6012,
            total_size: KiB(256),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 64)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 8)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 4)]),
                (opcode: 0x60, regions: [(size: KiB(256), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(256), count: 1)]),
            ],
        ),
        (
            name: "P25Q21H",
            device_id: 0x4012,
            total_size: KiB(256),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 64)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 8)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 4)]),
                (opcode: 0x60, regions: [(size: KiB(256), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(256), count: 1)]),
            ],
        ),
        (
            name: "P25Q40H",
            device_id: 0x6013,
            total_size: KiB(512),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 128)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 16)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 8)]),
                (opcode: 0x60, regions: [(size: KiB(512), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(512), count: 1)]),
            ],
        ),
        (
            name: "P25Q40SH",
            device_id: 0x6013,
            total_size: KiB(512),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 128)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 16)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 8)]),
                (opcode: 0x60, regions: [(size: KiB(512), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(512), count: 1)]),
            ],
        ),
        (
            name: "P25Q80H",
            device_id: 0x6014,
            total_size: MiB(1),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 256)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 32)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 16)]),
                (opcode: 0x60, regions: [(size: MiB(1), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(1), count: 1)]),
            ],
        ),
        (
            name: "P25Q80SH",
            device_id: 0x6014,
            total_size: MiB(1),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 256)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 32)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 16)]),
                (opcode: 0x60, regions: [(size: MiB(1), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(1), count: 1)]),
            ],
        ),
        (
            name: "P25Q16H",
            device_id: 0x6015,
            total_size: MiB(2),
            features: (otp: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 512)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 64)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 32)]),
                (opcode: 0x60, regions: [(size: MiB(2), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(2), count: 1)]),
            ],
        ),
        (
            name: "P25Q16SH",
            device_id: 0x6015,
            total_size: MiB(2),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 512)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 64)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 32)]),
                (opcode: 0x60, regions: [(size: MiB(2), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(2), count: 1)]),
            ],
        ),
        (
            name: "P25Q32H",
            device_id: 0x6016,
            total_size: MiB(4),
            features: (otp: true, qpi: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 1024)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 128)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 64)]),
                (opcode: 0x60, regions: [(size: MiB(4), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(4), count: 1)]),
            ],
        ),
        (
            name: "P25Q32SH",
            device_id: 0x6016,
            total_size: MiB(4),
            features: (otp: true, qpi: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 1024)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 128)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 64)]),
                (opcode: 0x60, regions: [(size: MiB(4), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(4), count: 1)]),
            ],
        ),
        (
            name: "P25Q64H",
            device_id: 0x6017,
            total_size: MiB(8),
            features: (otp: true, qpi: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 2048)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 256)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 128)]),
                (opcode: 0x60, regions: [(size: MiB(8), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(8), count: 1)]),
            ],
        ),
        (
            name: "P25Q64SH",
            device_id: 0x6017,
            total_size: MiB(8),
            features: (otp: true, qpi: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 2048)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 256)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 128)]),
                (opcode: 0x60, regions: [(size: MiB(8), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(8), count: 1)]),
            ],
        ),
        (
            name: "P25Q128H",
            device_id: 0x6018,
            total_size: MiB(16),
            features: (otp: true, qpi: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 4096)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 512)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 256)]),
                (opcode: 0x60, regions: [(size: MiB(16), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(16), count: 1)]),
            ],
        ),
        (
            name: "PY25Q40HB",
            device_id: 0x2013,
            total_size: KiB(512),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 128)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 16)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 8)]),
                (opcode: 0x60, regions: [(size: KiB(512), count: 1)]),
                (opcode: 0xC7, regions: [(size: KiB(512), count: 1)]),
            ],
        ),
        (
            name: "PY25Q80HB",
            device_id: 0x2014,
            total_size: MiB(1),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 256)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 32)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 16)]),
                (opcode: 0x60, regions: [(size: MiB(1), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(1), count: 1)]),
            ],
        ),
        (
            name: "PY25Q16HB",
            device_id: 0x2015,
            total_size: MiB(2),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 512)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 64)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 32)]),
                (opcode: 0x60, regions: [(size: MiB(2), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(2), count: 1)]),
            ],
        ),
        (
            name: "PY25Q32HB",
            device_id: 0x2016,
            total_size: MiB(4),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2300, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 1024)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 128)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 64)]),
                (opcode: 0x60, regions: [(size: MiB(4), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(4), count: 1)]),
            ],
        ),
        (
            name: "PY25Q64HA",
            device_id: 0x2017,
            total_size: MiB(8),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 2048)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 256)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 128)]),
                (opcode: 0x60, regions: [(size: MiB(8), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(8), count: 1)]),
            ],
        ),
        (
            name: "PY25F64HA",
            device_id: 0x2317,
            total_size: MiB(8),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 2048)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 256)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 128)]),
                (opcode: 0x60, regions: [(size: MiB(8), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(8), count: 1)]),
            ],
        ),
        (
            name: "PY25Q128HA",
            device_id: 0x2018,
            total_size: MiB(16),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 4096)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 512)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 256)]),
                (opcode: 0x60, regions: [(size: MiB(16), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(16), count: 1)]),
            ],
        ),
        (
            name: "PY25F128HA/PY25R128HA",
            device_id: 0x2318,
            total_size: MiB(16),
            features: (otp: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x20, regions: [(size: KiB(4), count: 4096)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 512)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 256)]),
                (opcode: 0x60, regions: [(size: MiB(16), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(16), count: 1)]),
            ],
        ),
        (
            name: "PY25Q256HB",
            device_id: 0x2019,
            total_size: MiB(32),
            features: (otp: true, four_byte_addr: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x21, regions: [(size: KiB(4), count: 8192)]),
                (opcode: 0x20, regions: [(size: KiB(4), count: 8192)]),
                (opcode: 0x5C, regions: [(size: KiB(32), count: 1024)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 1024)]),
                (opcode: 0xDC, regions: [(size: KiB(64), count: 512)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 512)]),
                (opcode: 0x60, regions: [(size: MiB(32), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(32), count: 1)]),
            ],
        ),
        (
            name: "PY25F256HB",
            device_id: 0x2319,
            total_size: MiB(32),
            features: (otp: true, four_byte_addr: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x21, regions: [(size: KiB(4), count: 8192)]),
                (opcode: 0x20, regions: [(size: KiB(4), count: 8192)]),
                (opcode: 0x5C, regions: [(size: KiB(32), count: 1024)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 1024)]),
                (opcode: 0xDC, regions: [(size: KiB(64), count: 512)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 512)]),
                (opcode: 0x60, regions: [(size: MiB(32), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(32), count: 1)]),
            ],
        ),
        (
            name: "PY25Q512HB",
            device_id: 0x201A,
            total_size: MiB(64),
            features: (otp: true, four_byte_addr: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x21, regions: [(size: KiB(4), count: 16384)]),
                (opcode: 0x20, regions: [(size: KiB(4), count: 16384)]),
                (opcode: 0x5C, regions: [(size: KiB(32), count: 2048)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 2048)]),
                (opcode: 0xDC, regions: [(size: KiB(64), count: 1024)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 1024)]),
                (opcode: 0x60, regions: [(size: MiB(64), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(64), count: 1)]),
            ],
        ),
        (
            name: "PY25F512HB",
            device_id: 0x231A,
            total_size: MiB(64),
            features: (otp: true, four_byte_addr: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x21, regions: [(size: KiB(4), count: 16384)]),
                (opcode: 0x20, regions: [(size: KiB(4), count: 16384)]),
                (opcode: 0x5C, regions: [(size: KiB(32), count: 2048)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 2048)]),
                (opcode: 0xDC, regions: [(size: KiB(64), count: 1024)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 1024)]),
                (opcode: 0x60, regions: [(size: MiB(64), count: 1)]),
                (opcode: 0xC7, regions: [(size: MiB(64), count: 1)]),
            ],
        ),
        (
            name: "PY25Q01GHB",
            device_id: 0x201B,
            total_size: MiB(128),
            features: (otp: true, four_byte_addr: true, qpi: true, status_reg_2: true, erase_4k: true, erase_32k: true, erase_64k: true),
            voltage: (min: 2700, max: 3600),
            erase_blocks: [
                (opcode: 0x21, regions: [(size: KiB(4), count: 32768)]),
                (opcode: 0x20, regions: [(size: KiB(4), count: 32768)]),
                (opcode: 0x5C, regions: [(size: KiB(32), count: 4096)]),
                (opcode: 0x52, regions: [(size: KiB(32), count: 4096)]),
                (opcode: 0xDC, regions: [(size: KiB(64), count: 2048)]),
                (opcode: 0xD8, regions: [(size: KiB(64), count: 2048)]),
            ],
        ),
    ],
)
